<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    {% if site.favicon %}<link rel="icon" href="{{ site.favicon | relative_url }}">{% endif %}
  </head>
  <body>
    <header class="site-header" role="banner">
      {% include header.html %}
    </header>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <h1>{{ site.title }}</h1> <!-- Display site title -->
          <p>{{ site.description }}</p> <!-- Display site description -->
          {{ content }} <!-- Your page content here -->
        </div>
    </main>

    <footer class="site-footer" role="contentinfo">
      {% include footer.html %}
    </footer>
  </body>
</html>
